<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/nnadkarny">Nikhil</a>, an exciting new web developer.  He thinks comedians tell the truth better than anyone, so he decided to make an app about it.
  </p>
  <br />
  <p>
    He says his next app will leave this one in the dust.  I believe him.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.  If they can teach Nikhil, they can teach anyone.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'nikhil.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Nikhil Nadkarny</h2>
      <br />
      <p>
        Nikhil’s been a jack-of-all-trades IT engineer for several years/companies, and his coding toolbelt is growing heavier by the day.  He's been a geek-of-all-trades since birth.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />